{
  "connection": {
    "api": {
      "host": "localhost",
      "port": "6969"
    },
    "ws": {
      "host": "localhost",
      "port": "7000"
    }
  },
  "databaseConnection": {
    "name": "retry",
    "host": "localhost",
    "port": 27017
  }
}